<h1>Edit Album</h1>
<%= simple_form_for @album, :html => { :multipart => true} do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Album Title" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>

<%= render 'form' %>
