<div class="row">
  <div class="col-md-4">

    <%= image_tag @album.album_img.url(:album_show), class: "album-show" %>

  </div>

  <div class="col-med-8">
  <h2><%= @album.title %></h2>
  <h3><%= @album.author %></h3>
  <h4>Average Rating</h4>
  <div class="average-review-rating" data-score=<%= @average_review %>></div>
  <span>Based on <%= @album.reviews.count %> reviews </span><br>

  <p><%= @album.description %></p>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <!-- where reviews/ratings will go -->
    <%= render @album.reviews %>

  <div>
    <%= link_to "Add Review", new_album_review_path(@album)%>
  </div>

  </div>
</div>


<%= link_to "Back", root_path %>

  <% if user_signed_in? %>

    <% if @album.user_id == current_user.id %>

    <%= link_to "Edit", edit_album_path(@album) %>
    <%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?"} %>

    <% end %>
  <% end %>

  <script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
  </script>

  <script>
  $('.average-review-rating').raty({
    readOnly: true,
      path: '/assets/',
    score: function() {
      return $(this).attr('data-score');
    }
  });
  </script>
